<ion-header>
    <ion-navbar>
        <ion-title>Detalhes da solicitação</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding [ngClass]="showSolicitationActions ? 'fixContentScroll' : 'normalContentScroll' ">
    <div class="serviceDetail" *ngIf="contractorPf != undefined && hiredPf != undefined">
        <solicitation [profile]="hiredPf" [solicitation]="solicitation" (onPhotoClick)="viewProfileImage()" (onProfileClick)="viewProfile()">
        </solicitation>
    </div>
</ion-content>
<ion-footer *ngIf="hiredPf != undefined && showSolicitationActions">
    <ion-toolbar>
        <ion-title>
            <button ion-button full (click)="btnActionFunction()">{{btnActionText}}</button>
        </ion-title>
    </ion-toolbar>
</ion-footer>