page-solicitation-details {
    ion-title {
        margin-left: 0px !important;
        margin-top: 3px;
    }
    .fixContentScroll {
        .scroll-content {
            margin-bottom: 56px !important;
        }
    }
    ion-footer {
        ion-title {
            margin-top: 0px !important;
        }
        .toolbar-md,
        .toolbar-ios,
        .toolbar-title-md,
        .toolbar-title-ios {
            margin: 0px !important;
            padding: 0px !important;
        }
        .toolbar-content-md,
        .toolbar-content-ios {
            margin: 0px !important;
        }
        .button-md,
        .button-ios {
            height: 56px;
            margin: 0px !important;
            margin: 0 auto !important;
            display: inline-block;
            background-color: $primaryColor !important;
            font-size: 20px;
        }
    }
}