<ion-header>
    <ion-navbar>
        <ion-title>Solicitação de serviço</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="contractorPf != undefined && hiredPf != undefined">
        <solicitation-photo [hiredPhoto]="hiredPf.profilePhotoUrl" [contractorPhoto]="contractorPf.profilePhotoUrl">
        </solicitation-photo>
        <div class="card service" *ngIf="!solicitationDone">
            <div class="serviceDesciption">
                <div class="cardTitle">
                    <h2>Descrição da solicitação</h2>
                </div>
                <div class="cardBody">
                    <p>
                        Descreva abaixo um pouco sobre o serviço você precisa:
                    </p>
                    <ion-item>
                        <ion-textarea [(ngModel)]="solicitationDescription" type="text" name="solicitationDescription" maxLength="600" rows="8">
                        </ion-textarea>
                    </ion-item>
                    <button ion-button (click)="makeService()">Enviar</button>
                </div>
            </div>
        </div>
        <div *ngIf="solicitationDone">
            <solicitation [profile]="hiredPf" [solicitation]="solicitation"></solicitation>
        </div>
    </div>
</ion-content>