page-send-solicitation {
    ion-title {
        margin-left: 0px !important;
        margin-top: 3px;
    }
    .cardBody {
        padding: $smallSpace 0;
        .button-md,
        .button-ios {
            margin: 0 auto !important;
            display: inline-block;
            border-radius: $bigRadius;
            margin-top: $mediumSpace !important;
            width: 100%;
            background-color: $primaryColor !important;
        }
        .item-md,
        .item-ios {
            padding-left: 0px !important;
            margin: 5px 0 !important;
        }
        .label-md,
        .label-ios {
            margin: 0px !important;
        }
        ion-textarea {
            height: 200px !important;
        }
    }
    .fullBackButton {
        .button-md,
        .button-ios {
            display: inline-block;
            color: $lightTextColor;
            margin: $smallSpace 0 $mediumSpace !important;
            width: 100%;
            background-color: transparent !important;
            box-shadow: none !important;
            border: none !important;
        }
    }
}