<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="mainTitle">
    <h1>Minha Conta</h1>
  </div>
  <div class="card my_account">
    <div class="cardBody">
      <div class="content_form">
        <div class="image form_field">
          <div id="set_profileImage" (click)="setProfilePhoto()"></div>
          <h3>Foto de Perfil</h3>
        </div>
        <div class="form_field">
          <h3>{{profile.isCompany ? 'Nome Fantasia: ': 'Nome:'}}</h3>
          <ion-item>
            <ion-input [(ngModel)]="profile.nome" type="text" name="nome" maxLength="50"></ion-input>
          </ion-item>
          <div *ngIf="profile.isCompany">
            <h3>Razão Social: </h3>
            <ion-item>
              <ion-input [(ngModel)]="profile.razaoSocial" type="text" name="inscEstadual" placeholder="Iscrição Estadual"
                maxLength="30"></ion-input>
            </ion-item>
          </div>
          <h3>E-mail: </h3>
          <ion-item>
            <ion-input [(ngModel)]="profile.email" type="email" name="email" disabled></ion-input>
          </ion-item>
          <h3>{{profile.isCompany ? 'CNPJ: ': 'CPF:'}}</h3>
          <ion-item>
            <ion-input [(ngModel)]="profile.cnpjCpf" type="tel" name="cpf" disabled></ion-input>
          </ion-item>
          <div *ngIf="profile.isCompany">
            <h3>Iscrição Estadual: </h3>
            <ion-item>
              <ion-input [(ngModel)]="profile.inscEstadual" type="text" name="inscEstadual" placeholder="Iscrição Estadual"
                maxLength="30"></ion-input>
            </ion-item>
            <h3>Iscrição Municipal: </h3>
            <ion-item>
              <ion-input [(ngModel)]="profile.inscMunicipal" type="text" name="inscMunicipal" placeholder="Iscrição Municipal"
                maxLength="30"></ion-input>
            </ion-item>
          </div>
        </div>

        <div class="form_field">
          <h3>Telefone para contato:</h3>
          <ion-item>
            <ion-input [(ngModel)]="profile.telefone" type="tel" name="telefone" maxLength="11">
            </ion-input>
          </ion-item>
        </div>
        <div class="form_field">
          <h3>Endereço: </h3>
          <ion-item>
            <ion-input [(ngModel)]="profile.rua" type="text" name="rua" maxLength="40"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="profile.bairro" type="text" name="bairro" maxLength="30">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="profile.cidade" type="text" name="cidade" maxLength="30">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="profile.estado" type="text" name="estado" maxLength="2">
            </ion-input>
          </ion-item>
        </div>
        <div class="form_field">
          <h3>Area de Atuação: </h3>
          <ion-item>
            <ion-input [(ngModel)]="profile.areaAtuacao" type="text" name="areaAtuacao" maxLength="30"></ion-input>
          </ion-item>
          <h3>Setor: </h3>
          <ion-item>
            <ion-input [(ngModel)]="profile.setor" type="text" name="areaAtuacao" maxLength="30"></ion-input>
          </ion-item>
        </div>
        <div class="form_field">
          <h3>Sobre mim: </h3>
          <ion-item>
            <ion-textarea [(ngModel)]="profile.aboutMe" name="aboutMe" maxLength="300"></ion-textarea>
          </ion-item>
        </div>
      </div>
    </div>
    <div class="cardFooter" (click)="save()">
      <h5>Salvar</h5>
    </div>
  </div>
</ion-content>