<ion-header>
    <ion-navbar>
        <ion-title>Minha Conta</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="profilePic">
        <profile-photo [photoUrl]="profile.profilePhotoUrl" (onClick)="setProfilePhoto()"></profile-photo>
        <h3>{{profile.profilePhotoUrl == '' ? 'Adicionar foto' : 'Alterar foto'}}</h3>
    </div>
    <div class="card my_account">
        <div class="cardBody">
            <div class="content_form">
                <ion-row>
                    <ion-col col-6>
                        <ion-item>
                            <ion-label stacked>Nome:</ion-label>
                            <ion-input [(ngModel)]="profile.name.firstName" next-input type="text" placeholder="Digite o nome" name="firstName">
                            </ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item>
                            <ion-label stacked>Sobrenome: </ion-label>
                            <ion-input [(ngModel)]="profile.name.lastName" next-input type="text" placeholder="Digite o sobrenome" name="firstName"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-item>
                    <ion-label stacked>E-mail: </ion-label>
                    <ion-input [(ngModel)]="profile.email" disabled next-input type="email" placeholder="Digite o e-mail" name="email"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Celular: </ion-label>
                    <ion-input [(ngModel)]="profile.phone" next-input type="text" placeholder="Digite o numero" name="phone" [brmasker]="{phone: true}">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>WhatsApp: </ion-label>
                    <ion-input [(ngModel)]="profile.social.whatsapp" next-input type="text" placeholder="Digite o numero de seu WhatsApp" name="whatsapp" [brmasker]="{phone: true}">
                    </ion-input>
                </ion-item>
                <ion-row>
                    <ion-col class="position_bottom" col-4>
                        <div class="inputFake">
                            <span class="label">Estado:</span>
                            <div class="input" [class.placeholder]="!profile.state" (click)="selectState()">
                                <span>{{profile.state == '' ? 'UF' : profile.state}}</span>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col col-8>
                        <div class="inputFake">
                            <span class="label">Cidade:</span>
                            <div class="input" [class.placeholder]="!profile.city" (click)="selectCity()">
                                <span>{{profile.city == '' ? 'Selecione uma cidade' : profile.city}}</span>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
                <div class="inputFake" *ngIf="profile.isAPro">
                    <span class="label">Trabalho:</span>
                    <div class="input" [class.placeholder]="!profile.job" (click)="selectJob()">
                        <span>{{profile.job == '' ? 'Selecione sua profissão' : profile.job}}</span>
                    </div>
                </div>
                <ion-item *ngIf="profile.isAPro">
                    <ion-label stacked>Sobre mim: </ion-label>
                    <ion-textarea [(ngModel)]="profile.aboutMe" next-input name="aboutMe" maxLength="300" placeholder="Descreva sobre você e seu serviço." name="firstName">
                    </ion-textarea>
                </ion-item>
                <div class="social-contacts" *ngIf="profile.isAPro">
                    <h3>Rede Sociais:</h3>
                    <p>Informe os seus perfils nas redes sociais para melhorar o seu perfil.</p>
                    <ion-item>
                        <ion-label stacked>Instagram: </ion-label>
                        <ion-input [(ngModel)]="profile.social.instagram" next-input placeholder="Digite o seu perfil no Instagram: " name="instagram">
                        </ion-input>
                    </ion-item>
                    <div class="facebook">
                        <ion-item>
                            <ion-label stacked>Facebook: </ion-label>
                            <ion-input [(ngModel)]="profile.social.facebook" placeholder="Digite o seu usuário no Facebook: " name="facebook">
                            </ion-input>
                        </ion-item>
                        <p class="facebookDetail">Você pode encontra-lo na sessão de configurações de conta, no Facebook!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cardFooter" (click)="save()">
            <h5>Salvar</h5>
        </div>
    </div>
</ion-content>