page-new-avaliation {
    ion-title {
        margin-left: 0px !important;
    }
    ion-footer {
        .toolbar-md,
        .toolbar-ios,
        .toolbar-title-md,
        .toolbar-title-ios {
            margin: 0px !important;
            padding: 0px !important;
        }
        .toolbar-content-md,
        .toolbar-content-ios {
            margin: 0px !important;
        }
        .button-md,
        .button-ios {
            height: 56px;
            margin: 0px !important;
            margin: 0 auto !important;
            display: inline-block;
            background-color: $primaryColor !important;
            font-size: 20px;
        }
    }
    .scroll-content,
    .fixed-content {
        margin-top: 56px !important;
        margin-bottom: 56px !important;
    }
    .cardTitle {
        margin-bottom: 8px !important;
    }
    .cardBody {
        margin: 24px 0 32px!important;
    }
    .item-md,
    .item-ios {
        padding: 0px !important;
    }
    textarea.text-input-ios,
    textarea.text-input-md {
        height: 180px;
    }
    .rating {
        width: 220px !important;
        display: block !important;
        float: none !important;
        text-align: center !important;
        margin: 24px auto !important;
        p {
            font-size: 16px;
            opacity: 0.8 !important;
            margin-top: -5px !important;
            font-weight: bold;
        }
        p.notLike {
            float: left;
            margin-left: -15px;
        }
        p.like {
            float: right;
        }
        div {
            width: 100% !important;
        }
        .button-ios,
        .button-md {
            width: 40px !important;
            height: 40px !important;
            margin: 2px !important;
        }
        ion-icon {
            font-size: 45px !important;
        }
    }
}