<ion-header>
    <ion-navbar>
        <ion-title>Avaliação</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div *ngIf="contractorProfile != undefined && hiredProfile != undefined">
        <div class="card service" *ngIf="!serviceConfirmed">
            <div class="cardBody" *ngIf="asContractor">
                <p>Avaliação dos serviços de
                    <br />
                    <b>{{ hiredProfile.nome }}</b>?
                </p>
            </div>
            <div class="cardBody" *ngIf="!asContractor">
                <p>Avaliação do cliente
                    <br />
                    <b>{{ contractorProfile.nome }}</b>?
                </p>
            </div>
            <div class="serviceDesciption">
                <div class="cardBody">
                    <div *ngIf="asContractor">
                        <p>Dê sua opinião sobre os serviços de
                            <br />
                            <b>{{ hiredProfile.nome }}</b>?
                        </p>
                    </div>
                    <div *ngIf="!asContractor">
                        <p>Dê sua opinião sobre seu cliente
                            <br />
                            <b>{{ contractorProfile.nome }}</b>?
                        </p>
                    </div>
                    <ion-item>
                        <ion-label floating>Avaliação</ion-label>
                        <ion-textarea [(ngModel)]="avaliationDescription" type="text" name="serviceDesctiption" maxLength="300">
                        </ion-textarea>
                    </ion-item>
                    <button ion-button (click)="finish()">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</ion-content>