<ion-header>
    <ion-navbar>
        <ion-title>Fazer Avaliação</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div *ngIf="contractorProfile != undefined && hiredProfile != undefined">
        <div class="card avaliation" *ngIf="!serviceConfirmed">
            <div class="cardTitle" *ngIf="asContractor">
                <h2>Avaliação de serviços!</h2>
            </div>
            <div class="cardTitle" *ngIf="!asContractor">
                <h2>Avaliação de cliente!</h2>
            </div>
            <div class="cardBody">
                <div *ngIf="asContractor">
                    <p>Avalie o serviço em uma nota de 1 a 5!</p>
                </div>
                <div *ngIf="!asContractor">
                    <p>Avalie o cliente em uma nota de 1 a 5!</p>
                </div>
                <div>
                    <div class="rating">
                        <ionic3-star-rating #rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="{{starActiveColor}}" defaultColor="{{starActiveColor}}" readonly="false" rating="{{avaliationRate}}" (ratingChanged)="ratingEvent($event)">
                        </ionic3-star-rating>
                        <p class="notLike">Não gostei!</p>
                        <p class="like">Gostei!</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="cardBody">
                <div *ngIf="asContractor">
                    <p>Dê sua opinião sobre os serviços de
                        <br />
                        <b>{{ hiredProfile.name.firstName }} {{ hiredProfile.name.lastName }}</b> abaixo.
                    </p>
                </div>
                <div *ngIf="!asContractor">
                    <p>Dê sua opinião sobre seu cliente,
                        <br />
                        <b>{{ contractorProfile.name.firstName }} {{ contractorProfile.name.lastName }}.</b> abaixo.
                    </p>
                </div>
            </div>
            <div class="cardFooter">
                <ion-item>
                    <ion-textarea [(ngModel)]="avaliationBody" type="text" name="avaliationDescription" placeholder="Ex: Gostei muito do serviço prestado. Excelente profissional!" maxLength="350">
                    </ion-textarea>
                </ion-item>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-title>
            <button ion-button full (click)="finish()">Confirmar</button>
        </ion-title>
    </ion-toolbar>
</ion-footer>