page-login {
    .devBy {
        position: absolute;
        margin: auto;
        bottom: 20px;
        right: 0;
        left: 0;
        height: 10px;
        width: 66px;
        p {
            font-size: 8px;
            color: $lightTextColor;
            opacity: 0.3;
            font-family: "Open Sans", sans-serif;
        }
    }
    .card.login .cardBody .button-md {
        margin-top: 24px !important;
    }
}