page-edit-profile {
    .bar-button-default-md,
    .bar-button-default-ios,
    .toolbar-title-md,
    .toolbar-title-ios {
        color: $lightTextColor !important;
    }
    .header-md::after {
        background: none !important;
    }
    .toolbar-background-md,
    .toolbar-background-ios {
        background-color: $coldBackground;
    }
    .content-md,
    .content-ios {
        background-color: $coldBackground;
    }
    .slides {
        border-radius: $smallRadius;
        background-color: $lightBackground;
    }
    .slideButtons {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        button {
            margin-bottom: 10px;
            border-radius: $smallRadius;
            background-color: $lightBackground;
            width: 50%;
            float: left;
            height: 50px;
            color: $primaryColor;
            font-size: 18px;
            line-height: $cardFooterTextHeight;
            text-align: center;
            font-family: "Roboto", sans-serif;
            cursor: pointer;
        }
    }
    .slideButtons.one {
        button {
            width: 100% !important;
        }
    }
}