page-app-config {
    ion-title {
        margin-left: 0px !important;
        margin-top: 3px;
    }
    .config {
        display: grid;
        justify-items: center;
        align-items: center;
        height: 100% !important;
    }
    .configOptions {
        width: 240px !important;
        opacity: 1 !important;
        .title {
            text-align: center;
            h3 {
                font-size: 30px !important;
                margin: 0px 0px 30px;
                color: #fff;
            }
        }
        .configOption {
            border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
            color: #fff;
            text-align: center;
            p {
                font-size: 17px !important;
                line-height: 30px;
                text-transform: uppercase;
                margin: 10px 0 !important;
            }
        }
        .configOption:last-child {
            border: none !important;
        }
    }
}