page-service-details {
    ion-title {
        margin-left: 0px !important;
        margin-top: 3px;
    }
    .usersPhotos {
        width: 264px;
        height: auto;
        margin: $mediumSpace auto;
        .userProfilePhoto {
            margin: $mediumSpace;
        }
        .hiredProfilePhoto {
            margin: $mediumSpace;
        }
        .userProfilePhoto,
        .hiredProfilePhoto {
            border-radius: 100% !important;
            width: 100px;
            height: 100px;
            float: left;
            z-index: 2 !important;
            background-size: cover;
            background-position: center;
            img {
                width: 100px;
                height: 100px;
                border-radius: 100% !important;
            }
        }
        .syncIcon {
            width: 45px;
            height: 45px;
            position: absolute;
            top: 74px;
            right: 158px;
            background-color: $primaryColor;
            border-radius: 100%;
            text-align: center !important;
            z-index: 3 !important;
            -webkit-box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.25);
            ion-icon {
                font-size: 18px !important;
                color: $lightTextColor;
                line-height: 45px !important;
                display: block !important;
            }
        }
    }
    .service {
        padding: $largeSpace 0px;
        .cardTitle {
            font-size: 23px;
        }
        .cardTitle,
        .cardBody p {
            opacity: 0.5;
            text-align: center !important;
            margin: $smallSpace $mediumSpace;
        }
        .cardBody {
            margin-bottom: $largeSpace;
        }
    }
    .service.newService {
        border-bottom: 10px solid #81C784;
    }
    .service.runningService {
        border-bottom: 10px solid #64B5F6;
    }
    .service.finishedService {
        border-bottom: 10px solid #FF8A65;
    }
    .service.canceledService {
        border-bottom: 10px solid #e57373;
    }
    .serviceMainText {
        text-align: center;
        p {
            color: $darkTextColor;
            font-size: $cardBodySize;
            line-height: cardBodyLineHeight;
            opacity: 0.5;
            margin: $largeSpace 0;
            b {
                display: block;
                line-height: 45px;
                font-size: 22px;
            }
        }
    }
    .contactWithService {
        text-align: center;
        padding: 0px $mediumSpace;
        p {
            color: $darkTextColor;
            font-size: 14px;
            line-height: cardBodyLineHeight;
            opacity: 0.5;
            margin: $smallSpace 0;
        }
    }
    .serviceStatus {
        margin: $largeSpace 0px;
        text-align: center;
        h3 {
            margin: 0px !important;
            color: $lightTextColor;
        }
    }
    .fixContentScroll {
        .scroll-content {
            margin-bottom: 56px !important;
        }
    }
    ion-footer {
        ion-title {
            margin-top: 0px !important;
        }
        .toolbar-md,
        .toolbar-ios,
        .toolbar-title-md,
        .toolbar-title-ios {
            margin: 0px !important;
            padding: 0px !important;
        }
        .toolbar-content-md,
        .toolbar-content-ios {
            margin: 0px !important;
        }
        .button-md,
        .button-ios {
            height: 56px;
            margin: 0px !important;
            margin: 0 auto !important;
            display: inline-block;
            background-color: $primaryColor !important;
            font-size: 20px;
        }
    }
}