<ion-header>
    <ion-navbar>
        <ion-title>Detalhes da Avaliação</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="card avaliation">
        <div class="profileTitle">
            <profile-photo [photoUrl]="avaliationOwner.profilePhotoUrl"></profile-photo>
            <div class="profileName">
                <h3>{{avaliationOwner.name.firstName}} {{avaliationOwner.name.lastName}}</h3>
            </div>
            <div class="profileRating rating" *ngFor="let star of starsRate(avaliation.rate); let i of index">
                <ion-icon name="{{star}}" [ngClass]="starsRateColor(avaliation.rate)" *ngIf="i != 5"></ion-icon>
            </div>
        </div>
        <div class="cardBody">
            <p>{{avaliation.body}}</p>
        </div>
        <div class="cardFooter avaliationDate">
            <p>Avaliado em: {{avaliationDate}}</p>
        </div>
    </div>
</ion-content>