page-professional-profile {
    .bar-button-default-md,
    .bar-button-default-ios,
    .toolbar-title-md,
    .toolbar-title-ios {
        color: $lightTextColor !important;
    }
    .header-md::after {
        background: none !important;
    }
    .toolbar-background-md,
    .toolbar-background-ios {
        background-color: $coldBackground;
    }
    .content-md,
    .content-ios {
        background-color: $coldBackground;
    }
    .swiper-wrapper{
        height: 85vh !important;
    } .slides {
        border-radius: $smallRadius;
        background-color: $lightBackground;
    }
    .slideButtons {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        button {
            margin-bottom: 10px;
            border-radius: $smallRadius;
            background-color: $lightBackground;
            width: 50%;
            float: left;
            height: 50px;
            color: $primaryColor;
            font-size: 18px;
            line-height: $cardFooterTextHeight;
            text-align: center;
            font-family: "Roboto", sans-serif;
            cursor: pointer;
        }
    }
    .slideButtons.one {
        button {
            width: 100% !important;
        }
    }
    /* 
    *  Se o slide tiver apenas um input, essa classe irá colocar um margin top nele,
    *  no lugar de um input, deixando o espaço vazio e padronizando os slides
    */
    .slideButtons.bottom {
        margin-top: 50px !important;
    }
    .slide_description {
        padding: $largeSpace $mediumSpace $mediumSpace;
        font-family: "Open Sans", sans-serif;
        .description {
            h2 {
                color: $greyTextColor;
                font-size: $cardTitleSize;
                margin: 0px;
                text-align: center;
            }
            h5 {
                color: $primaryColor;
                font-size: 20px;
                line-height: $cardFooterTextHeight;
                text-transform: uppercase;
                margin: 0px 0px;
                text-align: center;
            }
            p {
                color: $darkTextColor;
                font-size: $cardBodySize;
                line-height: cardBodyLineHeight;
                opacity: 0.5;
                margin: 0px;
                text-align: center;
            }
        }
        .image img {
            width: 150px;
            height: 150px;
            display: block;
            margin: $largeSpace auto;
        }
        .image #img_profile {
            width: 232px;
            height: 232px;
            border-radius: 100%;
            background-image: url('../../../assets/imgs/photo-camera.png');
            background-position: center;
            background-size: 70%;
            background-repeat: no-repeat;
            border: 6px solid $coldBackground;
            display: block;
            margin: $largeSpace auto;
        }
    }
    .slide_form {
        padding: $mediumSpace;
        font-family: "Open Sans", sans-serif;
        .item-ios,
        .item-md {
            padding: 0 $mediumSpace !important;
        }
        textarea.text-input-ios,
        textarea.text-input-md {
            height: 137px;
        }
    }
}