page-job-search {
    .content {
        background-color: transparent !important;
    }
    .scroll-content {
        background-color: rgba($color: #000000, $alpha: 0.5);
        display: flex;
        align-items: center;
    }
    .modalContent {
        max-width: 100%;
        border-radius: $smallRadius;
        background-color: $lightBackground;
        padding: $mediumSpace $mediumSpace 0px;
        margin-bottom: $mediumSpace;
        -webkit-box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.25);
        font-family: "Open Sans", sans-serif;
        .item-md,
        .item-ios {
            padding: 0px 8px !important;
        }
    }
    .searchResponse {
        margin-top: $mediumSpace;
        max-height: 280px;
        overflow: scroll;
    }
    .modalTitle {
        h3 {
            color: $darkTextColor;
            font-size: 20px;
            margin: 0px;
            text-align: left;
        }
    }
    .modalBody {
        margin-top: $mediumSpace;
    }
    .modalFooter {
        margin-top: $largeSpace;
        padding-bottom: $smallSpace;
        .modalButtons {
            float: right;
            div {
                text-align: center;
                text-transform: uppercase;
                min-width: 30px;
                float: left;
                padding: 8px 20px;
                h5 {
                    color: $primaryColor;
                    font-size: 15px;
                    font-family: "Roboto", sans-serif;
                    margin: 0px !important;
                    cursor: pointer;
                }
            }
        }
    }
}