page-user-avaliations {
    ion-title {
        margin-left: 0px !important;
        margin-top: 3px;
    }
    .filter {
        margin-bottom: $mediumSpace;
        .item-md,
        .item-ios {
            padding-left: 0px !important;
            background-color: transparent;
            border: none;
        }
        ion-select {
            width: 100% !important;
            max-width: 100% !important;
            // font-family: 'Open Sans', sans-serif;
        }
        .item-inner {
            border: none !important;
            color: $lightTextColor !important;
        }
        .select-icon-inner {
            color: $lightTextColor !important;
        }
    }
    .rate {
        margin: 0px 0px 16px;
        ion-icon {
            font-size: 24px !important;
        }
    }
    .card {
        .cardBody {
            overflow: hidden;
            width: 100%;
            h6 {
                font-size: 17px !important;
                opacity: 0.7;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                margin: 0;
            }
            p {
                font-size: 14px !important;
                opacity: 0.5 !important;
                margin: 10px 2px 0px 0px;
                font-style: italic;
                text-align: justify;
            }
        }
    }
}