<ion-header>
  <ion-navbar>
    <ion-title>Minhas Avaliações</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-select [(ngModel)]="avaliationType" (ionChange)="onFilterChange()">
      <ion-option value="Todas as avaliações">Todas as avaliações</ion-option>
      <ion-option value="Avaliações feitas">Avaliações feitas</ion-option>
      <ion-option value="Avaliações recebidas">Avaliações recebidas</ion-option>
    </ion-select>
  </ion-item>
  <br />
  <br />
  <div *ngIf="avaliations.length > 1">
    <div *ngFor="let avaliation of avaliations">
      <h3>{{avaliation.title}}</h3>
      <div>
        <div class="profileRating rating" *ngFor="let star of starsRate(avaliation.rate); let i of index">
          <ion-icon name="{{star}}" [ngClass]="starsRateColor(avaliation.rate)" *ngIf="i != 5"></ion-icon>
        </div>
      </div>
      <p>{{avaliation.body}}</p>
      <div (click)="goToDetails(avaliation)">
        <h6>Detalhes</h6>
      </div>
      <br>
      <br>
    </div>
  </div>
  <div *ngIf="!requestingAvaliations">
    <div *ngIf="avaliations.length <= 1">
      <div *ngIf="avaliationType == 'Todas as avaliações'">
        <p>Você não tem avaliações!</p>
      </div>
      <div *ngIf="avaliationType == 'Avaliações feitas'">
        <p>Você não avaliou profissionais ainda!</p>
      </div>
      <div *ngIf="avaliationType == 'Avaliações recebidas'">
        <p>Você não foi avaliado por outros usuários!</p>
      </div>
    </div>
  </div>
</ion-content>
