page-search {
    ion-title {
        margin-left: 0px !important;
        margin-top: 3px;
    }
    .select-text {
        margin-right: 8px;
    }
    .profilePhotoResult {
        border-radius: 100%;
        width: 50px;
        height: 50px;
        border: 2px solid #ffffff;
        background-size: cover;
        background-position: center;
        float: left;
        img {
            border-radius: 100% !important;
            width: 100% !important;
            height: 100% !important;
        }
    }
    .cardBody {
        margin-bottom: 30px;
        font-family: "Open Sans", sans-serif;
        h6 {
            color: $darkTextColor !important;
            font-size: 16px;
            margin: 0px 0px !important;
            opacity: 0.6;
            text-align: left;
            font-weight: bold !important;
        }
        ion-input {
            margin: 0px !important;
            .text-input.text-input-ios,
            .text-input.text-input-md {
                border-bottom: 1px solid rgba($color: #000000, $alpha: 0.09) !important;
                padding: 0px !important;
                margin: 0px !important;
                width: 100% !important;
                height: 40px;
            }
        }
        p {
            margin: 4px 0px 8px!important;
        }
    }
    .searchMode {
        text-align: center;
        height: 40px;
        h5 {
            line-height: 40px;
            margin: 0px !important;
            color: $greyTextColor;
            font-size: $cardFooterTextSize;
            font-family: "Roboto", sans-serif;
            cursor: pointer;
        }
    }
    .searchFields {
        ion-label {
            display: block;
        }
    }
}