page-contact {
    .card {
        margin-bottom: $mediumSpace;
        .cardTitle {
            margin: $mediumSpace 0px;
        }
        .cardBody {
            padding: 0px !important;
            h3 {
                font-size: 20px !important;
            }
        }
    }
    ion-title {
        margin-left: 0px !important;
        margin-top: 3px;
    }
    .mapLocation {
        .title {
            color: $lightTextColor;
            font-size: $cardTitleSize;
            margin: $mediumSpace 0px $largeSpace;
            text-align: left;
        }
        #map {
            margin-left: -16px;
            margin-right: -16px;
            margin-bottom: -16px;
            height: 320px !important;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }
}