<ion-header>
  <ion-navbar>
    <ion-title>Meus Contratos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="filter">
    <ion-item>
      <ion-select [(ngModel)]="contractType" (ionChange)="onFilterChange()">
        <ion-option value="Todos os contratos">Todos os contratos</ion-option>
        <ion-option value="Contratos feitos">Contratos feitos</ion-option>
        <ion-option value="Contratos recebidos">Contratos recebidos</ion-option>
      </ion-select>
    </ion-item>
  </div>
  <div class="list">
    <div *ngIf="contracts.length >= 1">
      <div class="card" *ngFor="let contract of contracts; let i of index;" (click)="goToDetails(contract)">
        <div class="cardTitle">
          <h3>{{contract.name}}</h3>
        </div>
        <div class="cardBody">
          <p>{{contract.description}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="!requestingContracts">
      <div *ngIf="contracts.length == 0">
        <div *ngIf="contractType == 'Todos os contratos'">
          <p>Você não possui contratos!</p>
        </div>
        <div *ngIf="contractType == 'Contratos feitos'">
          <p>Você não possui contrato com outros profissionais!</p>
        </div>
        <div *ngIf="contractType == 'Contratos recebidos'">
          <p>Você não recebeu nenhum contrato de outros usuários!</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
