<ion-header>
    <ion-navbar>
        <ion-title>Configure seu Perfil</ion-title>
        <ion-buttons end>
            <button ion-button (click)="skipProfile()">Pular</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <form #form="ngForm">
        <ion-slides>
            <ion-slide>
                <div class="slide_body">
                    <div class="slide_description">
                        <div class="description">
                            <h2>Configure seu perfil!</h2>
                        </div>
                        <div class="image">
                            <img src="../../../assets/imgs/shop.png" />
                        </div>
                        <div class="description">
                            <p>Entre com seu CPF: </p>
                        </div>
                    </div>
                    <div class="slide_form" *ngIf="!profile.isCompany">
                        <ion-item>
                            <ion-input [(ngModel)]="profile.cnpjCpf" type="tel" name="cpf" placeholder="CPF" maxLength="11">
                            </ion-input>
                        </ion-item>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide_body">
                    <div class="slide_description">
                        <div class="description">
                            <h2>Informações de contato!</h2>
                        </div>
                        <div class="image">
                            <img src="../../../assets/imgs/contact.png" />
                        </div>
                        <div class="description">
                            <p>Informe seu telefone para contato!</p>
                        </div>
                    </div>
                    <div class="slide_form">
                        <ion-item>
                            <ion-input [(ngModel)]="profile.telefone" type="tel" name="telefone" placeholder="Telefone" maxLength="11">
                            </ion-input>
                        </ion-item>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide_body">
                    <div class="slide_description">
                        <div class="description">
                            <h2>Onde você mora?</h2>
                        </div>
                        <div class="image">
                            <img src="../../../assets/imgs/address.png" />
                        </div>
                        <div class="description">
                            <p>
                                Informe o seu endereço.
                            </p>
                        </div>
                    </div>
                    <div class="slide_form">
                        <ion-item>
                            <ion-input [(ngModel)]="profile.rua" type="text" name="rua" placeholder="Rua" maxLength="40">
                            </ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input [(ngModel)]="profile.bairro" type="text" name="bairro" placeholder="Bairro" maxLength="30">
                            </ion-input>
                        </ion-item>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide_body">
                    <div class="slide_description">
                        <div class="description">
                            Onde você mora?
                        </div>
                        <div class="image">
                            <img src="../../../assets/imgs/address.png" />
                        </div>
                        <div class="description">
                            <p>
                                Informe a sua cidade e estado.
                            </p>
                        </div>
                    </div>
                    <div class="slide_form">
                        <ion-item>
                            <ion-input [(ngModel)]="profile.cidade" type="text" name="cidade" placeholder="Cidade" maxLength="30">
                            </ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input [(ngModel)]="profile.estado" type="text" name="estado" placeholder="Estado" maxLength="2">
                            </ion-input>
                        </ion-item>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide_body">
                    <div class="slide_description">
                        <div class="description">
                            <h2>Área de Atuação</h2>
                        </div>
                        <div class="image">
                            <img src="../../../assets/imgs/work.png" />
                        </div>
                        <div class="description">
                            <p>Em qual area você atua?</p>
                        </div>
                    </div>
                    <div class="slide_form">
                        <ion-item>
                            <ion-input [(ngModel)]="profile.areaAtuacao" type="text" name="areaAtuacao" placeholder="Área de Atuação" maxLength="30"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input [(ngModel)]="profile.setor" type="text" name="setor" placeholder="Seu setor" maxLength="30">
                            </ion-input>
                        </ion-item>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide_body">
                    <div class="slide_description">
                        <div class="description">
                            <h2>Descreva sobre você e seu serviço.</h2>
                        </div>
                        <div class="image">
                            <img src="../../../assets/imgs/edit.png" />
                        </div>
                    </div>
                    <div class="slide_form">
                        <ion-item>
                            <ion-textarea [(ngModel)]="profile.aboutMe" name="aboutMe" placeholder="Escreva um pouco sobre seu serviço aqui..." maxLength="300"></ion-textarea>
                        </ion-item>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide_body">
                    <div class="slide_description">
                        <div class="description">
                            <h2>Foto de perfil!</h2>
                        </div>
                        <div class="image">
                            <div id="set_profileImage" (click)="setProfilePhoto()"></div>
                        </div>
                        <div class="description">
                            <p>Escolha a melhor foto sua para seu perfil.</p>
                        </div>
                    </div>
                </div>
            </ion-slide>
        </ion-slides>
    </form>
</ion-content>
<ion-footer>
    <div class="slideButtons one" *ngIf="slideIndex === 0">
        <button (click)="slideNext()">Próximo</button>
    </div>
    <div class="slideButtons" *ngIf="slideIndex > 0 && slideIndex < 6">
        <button (click)="slidePrev()">Anterior</button>
        <button (click)="slideNext()">Próximo</button>
    </div>
    <div class="slideButtons" *ngIf="slideIndex === 6">
        <button (click)="slidePrev()">Anterior</button>
        <button (click)="save()">Save</button>
    </div>
</ion-footer>