page-profile-details {
    .toolbar-content-md {
        margin-top: -30px !important;
    }
    ion-footer {
        .toolbar-md,
        .toolbar-ios,
        .toolbar-title-md,
        .toolbar-title-ios {
            margin: 0px !important;
            padding: 0px !important;
        }
        .toolbar-content-md,
        .toolbar-content-ios {
            margin: 0px !important;
        }
        .button-md,
        .button-ios {
            height: 56px;
            margin: 0px !important;
            margin: 0 auto !important;
            display: inline-block;
            background-color: $primaryColor !important;
            font-size: 20px;
        }
    }
    .profilePhoto {
        margin-bottom: 16px !important;
    }
    .mainTitle {
        margin-bottom: 16px !important;
        margin-top: 5px !important;
        padding: 8px 16px !important;
        .profileRating {
            ion-icon {
                font-size: 15px !important;
            }
        }
    }
}