<ion-header>
    <ion-navbar>
        <ion-title>Minhas Solicitações</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="filter">
        <ion-item>
            <ion-select [(ngModel)]="filterType" (ionChange)="onFilterChange()">
                <ion-option value="ALL_SOLICITATIONS">Todos os serviços</ion-option>
                <ion-option value="SOLICITATIONS_DONE" *ngIf="profile.isAPro">Serviços feitos</ion-option>
                <ion-option value="SOLICITATIONS_RECEIVED" *ngIf="profile.isAPro">Serviços recebidos</ion-option>
                <ion-option value="SOLICITATION_IS_OPEN">Serviços abertos</ion-option>
                <ion-option value="SOLICITATION_IS_RUNNING">Serviços em andamento</ion-option>
                <ion-option value="SOLICITATION_IS_FINISHED">Serviços terminados</ion-option>
                <ion-option value="SOLICITATION_IS_CANCELED">Serviços cancelados</ion-option>
                <ion-option value="SOLICITATION_IS_REMOVED">Serviços removidos</ion-option>
                <ion-option value="SOLICITATION_IS_AWAIT_TO_FINISH">Serviços para terminar</ion-option>
                <ion-option value="SOLICITATION_IS_AWAIT_TO_CANCEL">Serviços para cancelar</ion-option>
            </ion-select>
        </ion-item>
    </div>
    <div class="list">
        <div *ngIf="solicitations.length > 0">
            <div class="card serviceItemList" [ngClass]="setSolicitationStatusClass(service.status)" *ngFor="let service of solicitations; let i of index;" (click)="goToDetails(service)">
                <div class="cardTitle">
                    <h3>{{ service.name }}</h3>
                </div>
                <div class="cardBody">
                    <p>{{ service.description }}</p>
                </div>
                <div class="cardFooter">
                    <h3>{{ setStatusValueToShow(service.status) }}</h3>
                </div>
            </div>
        </div>
        <div class="notFound" *ngIf="solicitations.length == 0">
            <div class="body">
                <ion-icon name="information-circle"></ion-icon>
                <div *ngIf="filterType == 'ALL_SERVICES'">
                    <p>Você não tem serviços!</p>
                </div>
                <div *ngIf="filterType != 'ALL_SERVICES'">
                    <p>Não encontramos serviços para esse tipo de filtro!</p>
                </div>
            </div>
        </div>
    </div>
</ion-content>