<ion-menu [content]="mycontent" type="overlay" persistent="true">
    <ion-content>
        <profile-menu></profile-menu>
    </ion-content>
</ion-menu>
<ion-nav #mycontent></ion-nav>

<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <button ion-button icon-only menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons (click)="search()">
            <button ion-button icon-only>
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding #pageContent>
    <div *ngIf="this.profile != undefined || this.profile != null">
        <div>
            <div class="profilePhoto" [ngStyle]="{'background-image': 'url(' + profile.profilePhotoUrl + ')'}">
                <img *ngIf="profile.profilePhotoUrl == ''" src="../../../assets/imgs/149071.png" />
            </div>
            <div class="mainTitle">
                <h1><span>{{ greetingMesage }}</span>{{profile.name.firstName}} {{profile.name.lastName}}</h1>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="card" *ngIf="profile.isAPro">
            <div class="cardTitle">
                <h2>Sobre:</h2>
            </div>
            <div class="cardBody">
                <p>
                    {{profile.aboutMe}}
                </p>
                <p *ngIf="profile.job">{{profile.job}}</p>
            </div>
        </div>
        <div class="card">
            <div class="cardTitle">
                <h2>Contatos:</h2>
            </div>
            <div class="cardBody">
                <p>E-mail: {{profile.email}}</p>
                <p>Telefone: {{profile.phone}}</p>
            </div>
            <div class="cardFooter" (click)="contact()">
                <h5>Mais Informações</h5>
            </div>
        </div>
        <div class="card">
            <div class="cardTitle">
                <h2>Minhas Avaliações:</h2>
            </div>
            <div class="cardBody profileAvaliations">
                <div>
                    <p>Menor nota:</p>
                    <div class="profileRating rating" *ngFor="let star of starsRate(profile.userMinRate); let i of index">
                        <ion-icon name="{{star}}" [ngClass]="starsRateColor(profile.userMinRate)" *ngIf="i != 5">
                        </ion-icon>
                    </div>
                </div>
                <div>
                    <p>Maior nota:</p>
                    <div class="profileRating rating" *ngFor="let star of starsRate(profile.userMaxRate); let i of index">
                        <ion-icon name="{{star}}" [ngClass]="starsRateColor(profile.userMaxRate)" *ngIf="i != 5">
                        </ion-icon>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="cardFooter" (click)="rating()">
                <h5>Ver Avaliações</h5>
            </div>
        </div>
    </div>
    <div *ngIf="this.profile == undefined || this.profile == null">
        <div>
            Carregando...
        </div>
    </div>
</ion-content>