page-forgot-password {
    .scroll-content {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .card.forgotPassword {
        margin-top: 16px;
        height: auto !important;
    }
    .card.forgotPassword .cardBody .button-md,
    .card.forgotPassword .cardBody .button-ios {
        margin-top: 25px !important;
    }
}