page-new-contract {
    ion-title {
        margin-left: 0px !important;
        margin-top: 3px;
    }
    .usersPhotos {
        width: 264px;
        height: auto;
        margin: $mediumSpace auto;
        .userProfilePhoto {
            margin: $mediumSpace;
        }
        .hiredProfilePhoto {
            margin: $mediumSpace;
        }
        .userProfilePhoto,
        .hiredProfilePhoto {
            border-radius: 100% !important;
            width: 100px;
            height: 100px;
            float: left;
            z-index: 2 !important;
            background-size: cover;
            background-image: url("../../../assets/imgs/149071.png");
            img {
                width: 100px;
                height: 100px;
                border-radius: 100% !important;
            }
        }
        .syncIcon {
            width: 45px;
            height: 45px;
            position: absolute;
            top: 74px;
            right: 158px;
            background-color: $primaryColor;
            border-radius: 100%;
            text-align: center !important;
            z-index: 3 !important;
            -webkit-box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.25);
            ion-icon {
                font-size: 18px !important;
                color: $lightTextColor;
                line-height: 45px !important;
                display: block !important;
            }
        }
    }
    .contract {
        .cardTitle {
            font-size: 23px;
        }
        .cardTitle,
        .cardBody p {
            opacity: 0.5;
            text-align: center !important;
        }
        .cardBody {
            padding: $mediumSpace;
            .button-md,
            .button-ios {
                margin: 0 auto !important;
                display: inline-block;
                border-radius: $bigRadius;
                margin-top: $largeSpace !important;
                width: 100%;
                background-color: $primaryColor !important;
            }
            .item-md.item-toggle {
                margin: $mediumSpace 0 0 0 !important;
                color: $greyTextColor !important;
                .item-inner {
                    border: none !important;
                    .toggle-md.toggle-checked .toggle-icon {
                        background-color: $lightPrimaryColor;
                    }
                    .toggle-md.toggle-checked .toggle-inner {
                        background-color: $primaryColor;
                    }
                }
            }
            .item-md,
            .item-ios {
                padding-left: 0px !important;
                margin: 5px 0 !important;
            }
            .label-md,
            .label-ios {
                margin: 0px !important;
            }
            ion-textarea {
                height: 350px !important;
                margin-bottom: $mediumSpace;
            }
        }
    }
    .contractMainText {
        text-align: center;
        p {
            color: $darkTextColor;
            font-size: $cardBodySize;
            line-height: cardBodyLineHeight;
            opacity: 0.5;
            margin: $largeSpace 0;
            b {
                display: block;
                line-height: 45px;
                font-size: 22px;
            }
        }
    }
    .contactWithContract {
        text-align: center;
        padding: 0px $mediumSpace;
        p {
            color: $darkTextColor;
            font-size: 14px;
            line-height: cardBodyLineHeight;
            opacity: 0.5;
            margin: $smallSpace 0 $largeSpace;
        }
    }
    .fullBackButton {
        .button-md,
        .button-ios {
            margin: 0 auto !important;
            display: inline-block;
            color: $lightTextColor;
            margin-top: $largeSpace !important;
            width: 100%;
            background-color: transparent !important;
            box-shadow: none !important;
            border: none !important;
        }
    }
}