<ion-header>
    <ion-navbar>
        <ion-title>Detalhes da solicitação</ion-title>
        <ion-buttons end *ngIf="(contractorPf != undefined && hiredPf != undefined) && showMenuActions">
            <button ion-button icon-only (click)="openOptions($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding [ngClass]="showSolicitationActions ? 'fixContentScroll' : 'normalContentScroll' ">
    <div class="serviceDetail" *ngIf="contractorPf != undefined && hiredPf != undefined">
        <div class="usersPhotos">
            <div class="userProfilePhoto" [ngStyle]="setAvatarImage(contractorPf.profilePhotoUrl)"></div>
            <div class="hiredProfilePhoto" [ngStyle]="setAvatarImage(hiredPf.profilePhotoUrl)"></div>
            <div class="syncIcon">
                <ion-icon name="sync"></ion-icon>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="card service" [ngClass]="solicitationStatusClass">
            <div class="serviceDescription">
                <h5>Serviço solicitado por:</h5>
                <p>{{contractorPf.name.firstName}} {{contractorPf.name.lastName}}</p>
            </div>
            <div class="serviceDescription">
                <h5>Formas de contato:</h5>
                <div class="contact-field" (click)="goToApp('maps')">
                    <div class="icon-field maps">
                        <ion-icon name="pin"></ion-icon>
                    </div>
                    <div class="info">
                        <p>{{contractorPf.city}} - {{contractorPf.state}}</p>
                    </div>
                </div>
                <div class="contact-field" (click)="goToApp('phone')">
                    <div class="icon-field phone">
                        <ion-icon name="call"></ion-icon>
                    </div>
                    <div class="info">
                        <p>{{contractorPf.phone}}</p>
                        <span>Me ligue!</span>
                    </div>
                </div>
                <div class="contact-field" (click)="goToApp('email')">
                    <div class="icon-field mail">
                        <ion-icon name="mail"></ion-icon>
                    </div>
                    <div class="info">
                        <p>{{contractorPf.email}}</p>
                        <span>Me envie um e-mail!</span>
                    </div>
                </div>
                <div class="contact-field" (click)="goToApp('whats')" *ngIf="contractorPf.social.whatsapp">
                    <div class="icon-field whatsapp">
                        <ion-icon name="logo-whatsapp"></ion-icon>
                    </div>
                    <div class="info">
                        <p>Me chame no WhatsApp!</p>
                        <span>Falar com {{contractorPf.name.firstName + ' ' + contractorPf.name.lastName}}!</span>
                    </div>
                </div>
                <div class="contact-field" (click)="goToApp('inst')" *ngIf="contractorPf.social.instagram">
                    <div class="icon-field instagram">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </div>
                    <div class="info">
                        <p>Veja meu perfil no Instagram!</p>
                        <span>Ver o perfil de {{contractorPf.name.firstName + ' ' + contractorPf.name.lastName}}!</span>
                    </div>
                </div>
                <div class="contact-field" (click)="goToApp('face')" *ngIf="contractorPf.social.facebook">
                    <div class="icon-field facebook">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </div>
                    <div class="info">
                        <p>Veja meu perfil no Facebook!</p>
                        <span>Ver o perfil de {{contractorPf.name.firstName}} no Facebook!</span>
                    </div>
                </div>
            </div>
            <div class="serviceDescription">
                <h5>Descrição do serviço: </h5>
                <p>{{solicitation.description}}</p>
            </div>
            <div class="serviceDescription observations" *ngIf="solicitation.observations">
                <h5>Observações: </h5>
                <div *ngFor="let obs of solicitation.observations">
                    <span class="by">Por {{ obs.userName }}</span>
                    <p>{{obs.body}}</p>
                    <span class="when">Feito em: {{obs.date}}</span>
                </div>
            </div>
            <div class="cardFooter solicitationDate">
                <p>Solicitado em: {{solicitationDate}}</p>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer *ngIf="contractorPf != undefined && showSolicitationActions">
    <ion-toolbar>
        <ion-title>
            <button ion-button full (click)="btnActionFunction()">{{btnActionText}}</button>
        </ion-title>
    </ion-toolbar>
</ion-footer>